# Yarn things
# see https://yarnpkg.com/getting-started/qa
app/.pnp.*
app/.yarn/*
app/!.yarn/cache
app/!.yarn/patches
app/!.yarn/plugins
app/!.yarn/releases
app/!.yarn/sdks
app/!.yarn/versions

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
app/node_modules
app/.pnp
app/.pnp.js

# testing
app/coverage

# next.js
app/.next/
app/out/

# production
app/build

# misc
app/.DS_Store
app/*.pem

# debug
app/npm-debug.log*
app/yarn-debug.log*
app/yarn-error.log*

# local env files
app/.env.local
app/.env.development.local
app/.env.test.local
app/.env.production.local
app/.env

# vercel
app/.vercel

# Helm
helm/charts
